.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  margin-top: var(--spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 100%;
    max-width: 50px;
  }
}

.pgs-menu {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
}

.pgs-footer {
  margin-top: var(--spacing-large);
}