.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pgs-menu {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--spacing-large);
}

.pgs-footer {
  margin-top: var(--spacing-large);
}