h1{text-align:center;padding:40px;}
.container {
  width: 100%;

}

.pgs-menu {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--spacing-large);
}
.horse-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(297px, 1fr));
    gap: 70px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
     gap: 30px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    justify-content: center;
}


@media (max-width: 768px) {
  .horse-list {
    padding: unset;
  }
}