h1 {
  text-align:center;
  padding:40px;
}

.horse-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(297px, 1fr));
    gap: 70px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
     gap: 30px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}