.horse-card {
  background: #ffffff78;
  border: 1px solid rgba(180, 123, 128, 0.4);
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
}

.horse-card:hover {
  box-shadow: 0 10px 25px #371c0ac7;
}

.horse-card img {
  width: 100%;
  max-width: 329px;
  height: auto;
  transition: transform 0.4s ease;
}

@keyframes fullscreenZoom {
  0%   { transform: translate(-50%, -50%) scale(0.1); opacity: 0; }
  20%  { opacity: 1; }
  50%  { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  80%  { opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(0.1); opacity: 0; }
}

.image-fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 9999;
  pointer-events: none;
  animation: fullscreenZoom 1s ease forwards;
}

.horse-card h3{
    font-size: 35px;
}

.horse-card h3 {
  color: white;
  margin-top: 15px;
  font-size: 22px;
}

.horse-card .role {
  color: #911620;
  font-weight: bold;
  margin: 6px 0;
}

.horse-card .description {
  color: #ffffffbd;
  font-size: 18px;
  line-height: 130%;
}
